.playersContainer{
    margin-bottom: 5px;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 207px;
    width: 100%;
}
.imageBody{
    height: 27;
}
.img{
    /* height: 207px; */
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
